.fluxathon-winners {
    display: block;
}

.slider-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;

    .clicker {
        padding: 20px;
        cursor: pointer;

        img {
            height: 25px;
        }

        @media only screen and (max-width: 1040px){
            display: none;
        }
    }

    .right {
        position: relative;
        right: 16px;
    }

    .arrow-left.icon {
        color: #000;
        position: absolute;
        margin-left: 3px;
        margin-top: 10px;
        width: 16px;
        height: 1px;
        background-color: currentColor;
    }
    
    .arrow-left.icon:before {
        content: '';
        position: absolute;
        left: 1px;
        top: -5px;
        width: 10px;
        height: 10px;
        border-top: solid 1px currentColor;
        border-right: solid 1px currentColor;
        -webkit-transform: rotate(-135deg);
                transform: rotate(-135deg);
    }      

    .arrow-right.icon {
        color: #000;
        position: absolute;
        margin-left: 2px;
        margin-top: 10px;
        width: 16px;
        height: 1px;
        background-color: currentColor;
    }
    
    .arrow-right.icon:before {
        content: '';
        position: absolute;
        right: 1px;
        top: -5px;
        width: 10px;
        height: 10px;
        border-top: solid 1px currentColor;
        border-right: solid 1px currentColor;
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
    }      

    .slider-object {
        display: grid;
        grid-template-columns: 9fr 11fr;
        column-gap: 40px;
        margin: 0px 20px;
        display: none;

        @media only screen and (max-width: 1040px){
            grid-template-columns: 1fr;
            margin: 0px;
        }
        
        .slider-img {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .clicker {
                display: none;                
            }

            .slider-image {
                width: 100%;
                border-radius: 5px;
            }  
            
            @media only screen and (max-width: 1040px){
                .slider-image {
                    width: 85%;
                }
                
                .clicker {
                    display: inline;
                    padding: 0px;

                    img {
                        display: inline;
                        height: 25px;
                        width: auto;
                    }
                }
            }
        }
        
        .slider-text {
            display: flex;
            flex-direction: column;
            justify-content: center;

            h4 {
                font-size: 24px;
                margin-top: 0px;
                margin-bottom: 10px;
            }
            
            h5 {
                font-size: 16px;
                margin: 0px;
                font-weight: 300;
            }

            @media only screen and (max-width: 1040px){
                justify-content: center;
                align-items: center;

                h4, h5 {
                    width: 85%;
                }

                h4 {
                    margin-top: 15px;
                }


            }
        }
    }
}

/* Fading animation */
.fade {
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}