.button-hover:hover{
    background-color: #454545;
    transition: .2s all ease;
  
  a{
      text-decoration: none;
      color: #4b4b4b;
  }
}



.featuredText{
    margin-top: 25px;
    margin-bottom: 25px;
    h3{
        margin-bottom: 0;
        font-size: 25px;
    }

    h5{
        width: 75%;
        margin-top: 10px;
        @media only screen and (max-width: 768px){
            width: 100%;
        }
    }
}




#events{
    margin-top: 50px;
}


.card{
    display: flex;
    align-items: center;
}


.cardText{
    display: block;
    margin-right: auto;
}


.portfolioFace{
    width: 46px;
    height: 46px;
}





.calendarButton{
    color: white;
    margin-left: 20px;
    background-color: #316EFF;
    border-radius: 5px;
    padding: 8px 18px;
    font-weight: 500;
    margin-top: 25px;
    float: right;
    transition: .2s all ease;
    @media only screen and (max-width: 768px){
        float: left;
        margin-top: 0px;
        margin-left: 0px;
    }
}





.calendarButton:hover{
    color: white;
}


.calendarButton:focus{
    color: white;
}


.eventSection{
    display: block;
}

.locationBar{

    @media only screen and (max-width: 768px){
        margin-bottom: 20px;
    }
}

.flux-resources{
    margin-top: 50px;
}


.locationBarLocations{
    a{
        font-weight: 600;
        font-size: 20px;
        color: #000000;
        padding: 5px;
        // border-bottom: #316EFF 5px solid;
    }
}



.locationBarDiv{
    background-color: #E1E1E1;
    height: 1px;
    width: 100%;
    margin-top: 5px;
}




.card-container{
    margin: auto;
    max-width: 1200px;
}

.new-card{
    border: .5px solid #C8C8C8;
    padding: 35px 25px 5px 25px;
    margin-top: -35px;
    border-radius: 0px 0px 8px 8px;
}

.email-card {
    height: 100%;
    background-color: #FAFAFA;
    border: .5px solid #C8C8C8;
    border-radius: 8px;
    padding: 35px 35px 35px 35px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h5{
        padding: 0px 20px ;
    }
}

.card-holder{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-auto-rows: 200px;
    grid-gap: 2.8rem;
    width: 100%;


    @media only screen and (min-width: 1020px){
        display: grid;
        grid-template-columns: 4fr 4fr 4fr;
        grid-auto-rows: auto;
        grid-gap: 2.8rem;
    }


    @media only screen and (max-width: 768px){
        display: block;
        margin: auto;
        h5{
            width: 80%;
        }

    }
}






.calendarEvent{
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all 0.3s ease-out;

    img{
        width: 100%;
    }

    h5{
        font-size: 14px;
        @media only screen and (max-width: 768px){
            font-size: 16px;
        }
    }

    @media only screen and (max-width: 768px){
        h4{
            text-align: left;
            margin-left: 15px;
            margin-bottom: 0px;
            color: #fff;
            margin-top: 0px;
        }


        h5{
            font-weight: 400;
            margin-left: 15px;
        }
    }
}







.eventDesc{
    font-weight: 300;
    font-size: 15px;
}






//will put background image in each card




.calendarEvent{
    h4{
        color: black;
        margin-top: 10px;
        margin-bottom: 0;
    }

    h5{
        margin-top: 12px;
        font-weight: 300;
    }
}



// .calendarEvent:nth-child(1)




// .calendarEvent:nth-child(2)



// .calendarEvent:nth-child(3)
//     background-color:

// .calendarEvent:nth-child(4)
//     background-color:

// .calendarEvent:nth-child(5)
//     background-color:

// .calendarEvent:nth-child(6)
//     background-color:

// .calendarEvent:nth-child(7)
//     background-color:

// .calendarEvent:nth-child(8)
//     background-color:

// .calendarEvent:nth-child(9)
//     background-color:

// .calendarEvent:nth-child(10)
//     background-color:

// .calendarEvent:nth-child(11)
//     background-color:

// .calendarEvent:nth-child(12)
//     background-color:





.past-event{
    h4{
        opacity: .4;
    }

    h5{
        opacity: .3;
    }

    img{
        opacity: .4;
    }
}


