a
    text-decoration: none
    color: #4b4b4b

.featuredText
    margin-top: 25px
    margin-bottom: 25px
    

.card-container
    margin: auto
    max-width: 1100px

.card-holder
    margin-top: 15px
    display: grid
    grid-template-columns: 3fr 3fr
    grid-auto-rows: 200px
    grid-gap: 2.8rem
    width: 100%

    @media only screen and (min-width: 1020px)
        display: grid
        grid-template-columns: 4fr 4fr 4fr 4fr
        grid-auto-rows: 360px 360px
        grid-gap: 2.8rem
        


.person
    background-color: #fff
    border-radius: 10px
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    transition: all 0.3s ease-out
    justify-content: center


    h4
        text-align: left
        margin-left: 30px
        margin-bottom: 0px
        color: #fff
        margin-top: 60px

    h5
        font-weight: 400
        margin-left: 30px
        margin-top: 0px
        margin-bottom: 0px
    
    @media only screen and (max-width: 768px)
        h4
            text-align: left
            margin-left: 15px
            margin-bottom: 0px
            color: #fff
            margin-top: 0px

        h5
            font-weight: 400
            margin-left: 15px
        

            

.person:nth-child(n)
    -webkit-box-shadow: 6px 6px 10px 0px rgba(0,0,0,0.3)
    -moz-box-shadow: 6px 6px 10px 0px rgba(0,0,0,0.3)
    box-shadow: 6px 6px 10px 0px rgba(0,0,0,0.3)


//will put background image in each card

.circlePhoto
    margin: auto
    display: block
    margin-top: 30px
    width: 45%

    @media only screen and (max-width: 768px)
        margin: auto
        display: block
        margin-top: 25px
        margin-bottom: 10px
        width: 20%

    @media only screen and (max-width: 500px)
        margin: auto
        display: block
        margin-top: 25px
        margin-bottom: 10px
        width: 30%
    
  

.person
    h4
        color: black

.person:nth-child(1)
    background-color: pink
    
       
    
.person:nth-child(2)
    background-image: url("")
    background-color: white
    

.person:nth-child(3)
    background-color: blue

.person:nth-child(4)
    background-color: red

.person:nth-child(5)
    background-color: pink

.person:nth-child(6)
    background-color: orange

.person:nth-child(7)
    background-color: blue

.person:nth-child(8)
    background-color: red

.person:nth-child(9)
    background-color: pink

.person:nth-child(10)
    background-color: orange

.person:nth-child(11)
    background-color: blue

.person:nth-child(12)
    background-color: red
    
